.list__left 
        width: 50%
        position: absolute
        left: 0rem
        top: 43rem
        z-index: -1
        @include respond(phone)
                display: none
                // left: -1.5rem
                // top: 55rem


.list__right 
        position: absolute
        top: 43rem
        right: -5rem
        @include respond(phone)
                right: -2rem
                top: 52rem



        
